:root {
  --main-color: #ff9800;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  /* height: 5000px; */
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* small (phone) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
/* medium (tablet) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* pc */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/* start setting */
.settings {
  position: fixed;
  left: -200px;
  top: 0;
  z-index: 1002;
  width: 200px;
  min-height: 100vh;
  background-color: #fff;
  transition: 0.3s;
  border: 1px solid #eee;
}
.settings .toggle-settings {
  position: absolute;
  right: 0;
  top: 100px;
  background-color: #fff;
  width: 30px;
  padding: 8px 0;
  text-align: center;
  right: -30px;
  cursor: pointer;
}
.settings .settings-gear {
}
.show-settings {
  left: 0;
}
.settings .settings-container {
}
.settings .settings-container .option-box {
  text-align: center;
  background-color: #eee;
  padding: 10px 10px 20px;
  margin: 10px;
}
.settings .option-box h4 {
  color: var(--main-color);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
}
.settings .option-box .ul-colors {
  margin-top: 10px;
  margin-left: -5px;
  display: flex;
  justify-content: center;
}
.settings .option-box .ul-colors li {
  margin-left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  border: 3px solid #eee;
}
.settings .option-box .ul-colors li:first-child {
  background-color: #ff9800;
}
.settings .option-box .ul-colors li:nth-child(2) {
  background-color: #e91e63;
}
.settings .option-box .ul-colors li:nth-child(3) {
  background-color: #009688;
}
.settings .option-box .ul-colors li:nth-child(4) {
  background-color: #03a9f4;
}
.settings .option-box .ul-colors li:last-child {
  background-color: #4caf50;
}
.settings .option-box .ul-colors li.active {
  opacity: 1;
  border: 3px solid #fff;
}
.settings .option-box .yes,
.settings .option-box .no {
  display: inline-block;
  color: #fff;
  width: 50px;
  padding: 4px 10px;
  font-size: 12px;
  margin-top: 20px;
  border-radius: 4px;
  opacity: 0.5;
  background-color: var(--main-color);
  cursor: pointer;
}
.settings .option-box span.active {
  opacity: 1;
}
.settings .option-box span:hover {
  opacity: 1;
}
.settings .reset {
  background-color: #f44336;
  padding: 10px;
  margin: 10px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
}
.settings .option-box .background-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}
/* .settings .option-box .background-images h4 {
  margin-bottom: 50px;
} */
.settings .option-box img {
  width: 70px;
  max-width: 100%;
}
/* end setting */
/* start landing page */
.landing {
  min-height: 100vh;
  background-image: url("../imgs/01.jpg");
  background-size: cover;
  position: relative;
  margin-top: 0;
  transition: 0.5s;
}
.landing .overlay {
  /* content: ""; */
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 / 0.6);
  z-index: 1;
}
.landing .container {
  position: relative;
  z-index: 1000;
}
.landing header {
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  z-index: 2;
  padding: 15px 0;
}
.landing header .logo {
  width: 300px;
  font-weight: bold;
}
.links-container {
  width: 100%;
}
.links-container .toggle-menue {
  text-align: right;
  margin-top: 0;
  font-size: 25px;
  display: none;
}

.landing header .links {
  list-style: none;
  display: flex;
  /* width: 100%; */
  justify-content: flex-end;
}

.landing header .links li {
  margin-left: 10px;
  font-size: 15px;
}
.landing header .links li a {
  color: #fff;
  transition: 0.3s;
}
.landing header .links li a:hover {
  color: var(--main-color);
}
.landing header .links li a.active {
  color: var(--main-color);
}

@media (max-width: 991px) {
  header {
    /* position: relative; */
  }

  header .logo {
    padding-left: 20px;
  }
  .links-container .toggle-menue {
    display: block;
    padding-right: 20px;
    width: 50px;
    position: absolute;
    right: 0;
  }
  .landing header .links {
    list-style: none;
    background-color: #fff;
    width: 100%;
    position: absolute;
    left: 0;
    top: 60px;
    border-radius: 4px;
    padding: 10px;
    z-index: 3000;
    display: none;
  }
  .landing header .links::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 23px;
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: transparent transparent #fff transparent;
  }
  .landing header .links li:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  .landing header .links li a {
    display: block;
    color: #000;
    transition: 0.3s;
    padding: 5px 0;
    font-weight: bold;
  }
  .landing header .links.open {
    display: block;
  }
}

.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 2;
  text-align: center;
  width: 80%;
  /* max-width: 100%; */
  /* max-width: 500px; */
  width: 95%;
}
.landing .intro-text h1 {
  font-size: 40px;
  margin: 0;
}
.landing .intro-text h1 span {
  color: var(--main-color);
}
.landing .intro-text p {
  margin-top: 12px;
  line-height: 1.6;
  font-size: 20px;
}

@media (max-width: 575px) {
  .landing .intro-text h1 {
    font-size: 30px;
  }
  .landing .intro-text p {
    font-size: 15px;
  }
}
/* end landing page */
/* start about */
.about {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}

.about .container {
}
.about .info-box {
  padding: 30px;
  flex: 1;
}
@media (max-width: 767px) {
  .about {
    flex-direction: column;
    text-align: center;
  }
  .about .info-box {
    padding: 0;
  }
}
.about .info-box h2 {
  font-size: 30px;
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 10px;
}
.about .info-box p {
  line-height: 1.8;
  color: #777;
  margin: 0;
}
.about .image {
  text-align: center;
  flex: 1;
}
.about .image img {
  width: 250px;
  max-width: 100%;
}
/* end about */
/* start skills */
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.skills .container {
}
.skills h2 {
  font-size: 30px;
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.skills .skill-box {
  background-color: #fff;
  display: flex;
  padding: 15px;
  margin-bottom: 15px;
}

.skills .skill-box .skill-name {
  font-weight: bold;
  width: 140px;
  text-align: center;
  line-height: 30px;
}
.skills .skill-box .skill-progress {
  background-color: #f6f6f6;
  flex: 1;
  height: 30px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
.skills .skill-box .skill-progress span {
  /* width: 60%; */
  width: 0;
  height: 100%;
  background: var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;
}
@media (max-width: 767px) {
  .skills .skill-box {
    /* flex-direction: column; */
    display: block;
  }
  .skills .skill-box .skill-name {
    /* font-weight: bold; */
    width: 100%;
    margin-bottom: 10px;
  }
}
/* end skills */
/* start gallery */
.gallery {
  font-size: 30px;
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
  position: relative;
}
.gallery .container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.gallery h2 {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
}
.gallery .imgs-box {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px; */
}
.gallery .imgs-box img {
  width: 200px;
  max-width: 100%;
  padding: 3px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
}
/* end gallery */
.popup-overlay {
  background-color: rgba(0 0 0 / 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.popup-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 70%; */
  /* height: 400px; */
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1001;
}
.popup-box img {
  max-width: 100%;
}
.popup-box h3 {
  font-weight: bold;
  margin: 0 0 20px;
  text-align: center;
  color: var(--main-color);
}
.hide-popup {
  display: none;
}
.popup-span {
  position: absolute;
  right: 0;
  top: -15px;
  right: -15px;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  background-color: var(--main-color);
  cursor: pointer;
  border-radius: 50%;
}

/* start timeline */
.timeline {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
  /* overflow: hidden; */
}
.timeline .container {
  padding: 20px 0;
  position: relative;
}
.timeline .year {
  font-weight: bold;
  background-color: var(--main-color);
  color: #fff;
  padding: 2px 5px;
  width: fit-content;
  margin: auto;
  margin-bottom: 20px;
  z-index: 2;
  border-radius: 4px;
}
.timeline .timeline-content {
  display: flex;
  flex-direction: column;
  /* gap: 50px; */
  justify-content: center;
  position: relative;
}
.timeline .container::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
}
.timeline .box {
  width: calc(50% - 25px);
  background-color: #fff;
  padding: 0 20px;
  margin-bottom: 50px;
}
.timeline .box .content {
}
.timeline .box .content h3 {
  font-weight: bold;
  color: var(--main-color);
}
.timeline .box .content p {
  font-size: 12px;
  line-height: 1.6;
  color: #666;
}
.timeline .left-box {
  position: relative;
}
.timeline .left-box::before {
  content: "";
  position: absolute;
  top: 20px;
  right: -20px;
  width: 0;
  height: 0;
  border: 10px solid;
  border-color: transparent transparent transparent #fff;
}
.timeline .left-box::after {
  content: "";
  position: absolute;
  top: 20px;
  right: -35px;
  width: 15px;
  height: 15px;
  border: 3px solid var(--main-color);
  border-radius: 50%;
  background-color: #fff;
}
.timeline .right-box {
  position: relative;
  align-self: flex-end;
}
.timeline .right-box::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -20px;
  width: 0;
  height: 0;
  border: 10px solid;
  border-color: transparent #fff transparent transparent;
}

.timeline .right-box::after {
  content: "";
  position: absolute;
  top: 20px;
  left: -35px;
  width: 15px;
  height: 15px;
  border: 3px solid var(--main-color);
  border-radius: 50%;
  background-color: #fff;
}

@media (max-width: 767px) {
  .timeline .box {
    width: 80%;
    margin: 0 auto 50px;
  }
  .timeline .right-box::after,
  .timeline .left-box::after {
    left: 50%;
    transform: translateX(-50%);
    top: -35px;
  }

  .timeline .right-box::before,
  .timeline .left-box::before {
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    border-color: transparent transparent #fff transparent;
  }
  .timeline .year {
    margin-bottom: 50px;
  }
}
/* end timeline */
/* start features */
.features {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
}
.features h2 {
  font-size: 30px;
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 60px;
  text-align: center;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.features .feat-box {
  text-align: center;
  margin-bottom: 20px;
}
.features .feat-box img {
  width: 96px;
  max-width: 100%;
}
.features .feat-box h4 {
  font-size: 22px;
  margin: 15px 0 40px;
  position: relative;
}
.features .feat-box h4::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: var(--main-color);
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.features .feat-box p {
  line-height: 1.7;
  color: #706f6f;
  font-size: 16px;
  width: 80%;
  margin: 0 auto;
}

/* end features */
/* start testimonials */
.testimonials {
  padding-top: 100px;
  padding-bottom: 70px;
  background: linear-gradient(to right, var(--main-color) 50%, #333 50%);
}

.testimonials .container {
}
.testimonials h2 {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  margin: 0 0 30px;
}
.testimonials .testi-content {
  display: flex;
  gap: 10px;
}

@media (max-width: 768px) {
  .testimonials h2 {
    text-align: center;
  }
  .testimonials .testi-content {
    flex-direction: column;
    align-items: center;
  }
}
.testimonials .testi-box {
  background-color: #fff;
  padding: 0 20px;
  /* width: calc((100% - 20px) / 3); */
}
.testimonials .testi-box p:first-child {
  font-size: 15px;
  line-height: 1.7;
  color: #707070;
  font-style: italic;
}
.testimonials .info {
  display: flex;
  margin-bottom: 10px;
}
@media (max-width: 991px) {
  .testimonials .info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.testimonials .info img {
  width: 80px;
  max-width: 100%;
  border-radius: 50%;
  margin-right: 20px;
}
.testimonials .info .text h4 {
  margin-bottom: -5px;
}
.testimonials .info .text .title {
  font-size: 12px;
  color: #707070;
}
/* end testimonials */
/* start bullets */
.bullets {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 20;
}
.bullets .bullet {
  width: 20px;
  height: 20px;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  margin-bottom: 30px;
  cursor: pointer;
}
.bullets .bullet .tooltip {
  width: 120px;
  padding: 10px 0;
  background-color: var(--main-color);
  position: relative;
  left: -140px;
  top: -10px;
  color: #fff;
  text-align: center;
  display: none;
  cursor: default;
  pointer-events: none;
}
.bullets .bullet .tooltip::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border: 10px solid;
  border-color: transparent transparent transparent var(--main-color);
}
.bullets .bullet:hover .tooltip {
  display: block;
}
.bullet.active {
  background-color: var(--main-color);
}
/* end bullets */
/* start contact */
.contact {
  padding-top: 80px;
  padding-bottom: 80px;
  /* height: 600px; */
  background-image: url("../imgs/contact.png");
  background-size: cover;
  position: relative;
}
.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255 255 255 / 0.6);
  z-index: -1;
}
.contact .container {
  /* display: ; */
  position: relative;
  z-index: 10;
}
.contact .container h2 {
  font-size: 30px;
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.contact .content form {
  margin: auto;

  max-width: 800px;
  display: flex;
  /* flex-direction: column; */
  gap: 2%;
}

.contact .content form .first-div {
  width: 49%;
}
.contact .content form .second-div {
  width: 49%;
}
.contact .content form .first-div input {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  background-color: rgba(218 218 218 / 0.19);
  border: 1px solid #ccc;
}
.contact .content form .first-div input:focus {
  outline: 1px solid var(--main-color);
}
.contact .content form .second-div textarea:focus {
  outline: 1px solid var(--main-color);
}
.contact .content form .first-div input:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}
.contact .content form .second-div textarea:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}
.contact .content form textarea {
  width: 100%;
  height: 141px;
  background-color: rgba(218 218 218 / 0.19);
  border: 1px solid #ccc;
  padding: 10px;
  resize: none;
}
.contact .content form .second-div input {
  display: block;
  width: 100%;
  margin-top: 7px;
  padding: 10px;
  border: 1px solid transparent;
  background-color: var(--main-color);
  color: #fff;
}

@media (max-width: 767px) {
  .contact .content form {
    flex-direction: column;
    width: 100%;
  }
  .contact .content form .first-div {
    width: 100%;
    margin: auto;
  }
  .contact .content form .second-div {
    width: 100%;
    margin: auto;
  }
}
/* end contact */
/* start footer */
footer {
  padding: 20px 0;
  background-color: #333;
  text-align: center;
}
footer p {
  color: #eee;
  /* font-size: 20px; */
}
/* end footer */
